div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid brown;
  resize: both;
  overflow: auto;
}
#container {
  height: 50%;
  width: 50%;
}
body {
  background-color: cornsilk;
}
@media screen and (min-device-width: 600px) {
  body {
    background-color: chocolate;
  }
}
